<!--
<div *ngIf="note">
    <h2>{{note.title | uppercase}} Details</h2>
    <div><span>id: </span>{{note.id}}</div>
    <div>
        <label>title:
            <input [(ngModel)]="note.title" placeholder="title"/>
          </label>
    </div>
    <button (click)="goBack()">go back</button>
</div>
            <div role="textbox" contenteditable="true" class="note_header" placeholder="title" [(ngModel)]="note.title">
            </div>
        
                <div role="textbox" aria-multiline="true" contenteditable="true" class="note_header" placeholder="title" (keypress)="restrictNumberInput($event)">-->

<div *ngIf="show_note" class="note" [ngStyle]="{'background-color': show_note.color}" (mouseleave)="hideChangerColor();">
    <div class="note_content">
        <div class="wrapper_for_hidden_scroll">
            <p role="textbox" contenteditable="true" class="note_header" placeholder="Title" (change)="changeTitle()" (keyup)="keyUpEnter($event, 'title')" [(ngModel)]="show_note.title"></p>
            <p role="textbox" contenteditable="true" class="note_header" placeholder="Title" (change)="changeTitle()" (keyup)="keyUpEnter($event, 'title')" [(ngModel)]="show_note.title"></p>
            <p role="textbox" contenteditable="true" class="note_body" placeholder="body" (keyup)="keyUpEnter($event, 'body')" [(ngModel)]="show_note.body"></p>
        </div>
    </div>
    <div class="menu_bar">

        <div *ngIf="menu_items_visible['changer_color_visible']" class="changer_color" (mouseleave)="hideChangerColor()">
            <div class="set_color" *ngFor="let color of availible_colors">
                <div class="set_color_item" [ngStyle]="{'background-color': color}" (click)="changeColor(color)">
                    <img *ngIf="show_note.color==color" class="checked_color " src="/assets/check.jpeg ">
                </div>
            </div>
        </div>
        <div class="menu_content">
            <div class="note_bar" [style.visibility]="menu_items_visible['menu_bar_visible']==true?'visible':'hidden'">
                <div class="menu_item " (mouseenter)="showChangerColor()">
                    <img src="/assets/palitra.svg">
                </div>
                <div class="menu_item " (mouseenter)="showMenuBar()" (click)="archivateUnarchivate()">
                    <img src="/assets/archive.svg">
                </div>
                <div class="space_between_bar_item" (mouseenter)="hideChangerColor()"></div>
                <a class="save_button" (click)="commitChanges()">
                    <p>SAVE</p>
                </a>
            </div>
        </div>
    </div>
</div>